main {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  width: 50%;
  margin: 0 auto;

  div {
    h2 {
      font-weight: bold;
      text-align: left;
    }

    p {
      margin: 10px 0 0;
      border-bottom: 2px solid salmon;
    }
  }

  label {
    margin-right: 10px;
    margin-top: 20px;
  }

  input {
    font-size: 18px;
    margin-top: 20px;
    padding: 0.1em;
  }

  button {
    padding: 3px;
    margin-top: 20px;
    cursor: pointer;
  }

  .accountBalance {
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    background-color: white;
  }
}
